<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HeartDiseasePrediction"

        tools:targetApi="31">
        <activity android:name=".Activities.Doctor.AdminReceptActivity"
            android:exported="false"/>
        <activity android:name=".Activities.Doctor.AdminDetailAppointmentActivity"
            android:exported="false"/>
        <activity android:name=".Activities.User.ReceiptActivity"
                android:exported="false"/>
        <activity android:name=".Activities.SignUpInformationActivity"
            android:exported="false"/>
        <activity
            android:name=".Activities.Doctor.PreCheckUpProcessActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Doctor.PrescriptionsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Doctor.MedicalExaminationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Doctor.ChartActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.User.ChooseServiceActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.User.DetailApointmentActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.User.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Doctor.AdminMainScreen"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.User.MainScreen"
            android:exported="true">

        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>